:root {
    --gray:#333;
}
body {
    background: #ecf0f1;
    color:var(--gray);
    font-family: "Montserrat", sans-serif;
}
/* Main Content Management place*/

ul {
    list-style: none;
}

.txt-hint {
    color:#95a5a6;
}






